.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis_cache/
analysis_files/
analysis.html
data/data_full.csv
output/figs/
output/imputation/
output/nonmixo_*/figs/
output/nonmixo_*/imputation/
output/runjagsfiles*
output/nonmixo_*/runjagsfiles*
output/Image_*.RData
manuscript/*.pdf
manuscript/SI/*.pdf
manuscript/**/*.aux
manuscript/**/*.log
manuscript/**/*.bbl
manuscript/**/*.blg
manuscript/**/*.out
manuscript/**/*.synctex.gz
manuscript/figs/*
!manuscript/figs/foodwebs.jpg
